@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-item {
  transition: transform 0.1s ease, opacity 0.4s ease;
}

.carousel-item.visible {
  opacity: 0.7;
}
.carousel-item.active {
  opacity: 1;
}
